body{
  background-color: aliceblue;
}
.container{
  margin-left: 15%;
  margin-right: 15%;
}
.header-section{
  background-color: #002E5B;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex{
  display: flex;
}

.title-section{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}

.title-t1{
  color: #ffff;
}

.title-t2{
  color: #FBBA42;
}

.menu-section{
  height: 100%;
  width: 100%;
}

.menu-section-ul{
  color: #ffff;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.menu-section-ul li{
  cursor: pointer;
  padding-left: 5px;
}

.menu-section-ul li:hover{
  color: #FBBA42;
}

.menu-1, .menu-2{
  position: relative;
  padding-right: 20px;
}

.menu-1::after, .menu-2::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; 
  width: 2px;
  background-color: #BEBEBE;
}

.profile-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  gap: 10px;
}

.profile-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


/* banner section */
.banner-section{
  background-image: url('./Public//Images/banner-img.svg');
  background-repeat: no-repeat;
  height: 203px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner-section span{
  font-family: 'Rubik';
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  color: white;
}

.banner-t1{
  width: 365px;
  padding-left: 50px;
  text-transform: uppercase;
}

/* counter section */

.counter-sec{
  display: flex;
  justify-content: space-between;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.logo-sec{
  background-color: #002E5B;
  padding: 14px;
  border-radius: 20px;
}

.clock-sec{
  background-color: #CD7409;
  ;
}

.doller-sec{
  background-color: #0A993A;
  ;
}

.file-sec{
  background-color: #DF4911;
  ;
}

.con-title{
  display: flex;
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.mr-10{
  margin-right: 10px;
}


.counter-card{
  width: 235px;
  height: 94px;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 6px 0px #00000014;
}

.con-sec{
  display: flex;
  flex-direction: column;
}

.batch{
  color: #848288;
  background-color: #F5F5F5;
  border-radius: 30%;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
}

.rate{
  font-family: 'Rubik';
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.07em;
  text-align: left;
  margin-top: 10px;

}

.footer-log{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}

.footer{
  color: #DEE1E3;
  background-color: #002E5B
}

.footer-con{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 30px;
}

.footer-menu-sep{
  margin-bottom: 20px;
}

.site-map{
  /* padding: 0px 45px; */
}

.sec-1-des{
  width: 453px;
}

.f-title{
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.social-icon-div{
  display: flex;
  gap: 25px;
}

.social-icons{
  color: white;
  background-color: #002E5B;
  border-radius: 50%;
  border: dashed 1px white;
  height: 14px;
  width: 14px;
  padding: 10px;
}

.social-icons:hover{
  background-color: #FBBA42;
  border: none;
  cursor: pointer;
}

.contact-us-adress{
  display: flex;
}

.contactus-icon{
  margin-right: 14px;
}

.con-heading{
  color: #FBBA42;
  font-size: 20px;
  font-family: 'Rubik';
  line-height: 23.7px;
  margin-bottom: 20px;
}

.footer-copyright{
  background-color: #03213F;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-end{
  display: flex;
  justify-content: space-between;
}